html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("board.jpg") no-repeat;
}

.messageArea {
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(83, 175, 19);
  font-size: 35px;
}

.table {
  position: absolute;
  left: 173px;
  top: 99px;
  border-spacing: 0;
}

.table td {
  width: 96px;
  height: 96px;
}

.shootForm {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 100%);
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

.shootForm input {
  padding: 5px;
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
  outline: transparent;
}

.hit {
  background-image: url("ship.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  /*background-size: 90%;*/
}

.sunked {
  background-color: rgba(139, 0, 0, 0.3);
}

.miss {
  background-image: url("miss.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.error {
  color: darkred;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}