body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.main {
  margin: 100px 0 0;
  padding: 50px;
  background-color: #f1f1e4;
  border-radius: 15px 15px 0 0;
}

.input {
  margin: 0 15px 0 0;
  padding: 10px;
  border: none;
  background-color: #f1f1e4;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: transparent;
}

.btn-add {
  padding: 10px;
  background-color: #81e384;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
}

.row {
  margin: 0 0 10px;
}

.translation {
  margin: 0 15px;
  background-color: #e0c99d;
  /*padding: 10px;*/
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.remove-btn {
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(img/recycle.png);
  background-position: center;
  background-size: cover;
}

li {
  display: flex;
  align-items: center;
}