html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  block-size: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 20px;
}

select,
input {
  background-color: #f1f1e4;
}

.main {
  margin: 100px 0 0;
  padding: 20px 50px 50px;
  border-radius: 15px 15px 0 0;
  background-color: #f1f1e4;

}

.input {
  margin: 0 15px 0 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: transparent;
}

.btn-add {
  padding: 10px;
  background-color: #81e384;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
}

.row {
  margin: 0 0 10px;
}

.translation {
  margin: 0 15px;
  background-color: #e5e2d7;
  padding: 0 10px;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.remove-btn {
  border: none;
  width: 14px;
  height: 14px;
  background-image: url(img/recycle.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.move-btn {
  cursor: pointer;
  background-color: #8ad1ec;
  font-size: 10px;
  border: none;
  margin-left: 15px;
  padding: 5px;
  border-radius: 5px;
}

ul {
  list-style: unset;
  padding: 0;
  margin: 0 0 30px;
}

li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

li::before {
  content: attr(data-counter);
  margin-right: 10px;
}

.word::after {
  content: '-';
  margin-left: 15px;
}

.title-counter,
.learned-title-counter {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

.title-counter::before,
.learned-title-counter::before {
  content: '(';
}

.title-counter::after,
.learned-title-counter::after {
  content: '):';
}

.title-box,
.learned-title-box {
  display: flex;
  margin: 35px 0 20px;
}

.sort-btn,
.shuffle-btn {
  margin-left: 15px;
  border: none;
  width: 15px;
  height: 15px;
  background-image: url('img/sort.png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  outline: transparent;
}

.shuffle-btn {
  background-image: url('img/shuffle.png');
}

.sort-label,
.learned-sort-label {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

