.timer {
  position: relative;
  margin: 250px 0 0 250px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.controls {
  margin-top: 20px;
}

.timer button {
  font-size: 76px;
  width: 70px;
  height: 70px;
  border: none;
  outline: transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

}

.timer button:hover {
  background-color: #ff9800;
}

.timer button:disabled:hover {
  background-color: transparent;
}

#duration {
  font-size: 66px;
  display: inline-block;
  text-align: center;
  width: 200px;
  border: none;
  outline: transparent;
  /*padding-left: 50px;*/

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}



.animation {
  position: absolute;
  /*left: 0;*/
  /*top: 0;*/
  z-index: -1;
}