html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}

.digits {
    display: flex;
    align-items: center;
}



.key {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 1;
    white-space: normal;
    text-transform: none;
    /*border-right: none;*/
}

.key:last-child {
    /*border-right: 1px solid #ccc;*/
}

.space {
    width: 330px;
}